upstream client-upstream {
    server    0.0.0.0:3000;
    keepalive 15;
}

upstream back-upstream {
    server    0.0.0.0:5000;
    keepalive 15;
}

server {
    server_name DomainName.ru www.DomainName.ru;

    server_tokens off;
    client_max_body_size 1000M;
    root /var/www/html/server/static;
    index index.php index.html index.htm;

    location / {
         proxy_pass http://client-upstream;
         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection $http_upgrade;
         proxy_set_header Host $host;
         autoindex on;
         root /var/www/html/server/static;
    }

    location /api {
         proxy_pass http://back-upstream;
         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
    }

    location ~* \.(jpeg|jpg|mp4)$ {

         root /var/www/html/server/static;

    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/DomainName.ru/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/DomainName.ru/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = DomainName.ru) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

  listen 80;
    server_name DomainName.ru www.DomainName.ru;
    return 404; # managed by Certbot

}


0|Server  | string https://jadeautovl.ru/car/3
0|Server  | string  7(111) 111-11-11
0|Server  | Toyota Alphard, 1111111111
0|Server  | https://jadeautovl.ru/car/3
0|Server  | Покупатель: 7(111) 111-11-11

