@import "variables";
.FrontPage{
  height: 500px;
  position: relative;
  margin-bottom: calc(10px + (20 - 10) * (100vw - 320px) / (1650 - 320)) ;
  background-size: cover;
  .FrontPage__square{
    position: absolute;
    top: 12%;
    left: 8%;
    width: 300px;
    height: 400px;
    border: 4px solid $red;
  }
  .FrontPage__text{
    padding: 10% 0 0 10%;
    .FrontPage__text-header{
      margin-bottom: 10px;
      font-size: 16px;
    }
    .FrontPage__text-subheader{
      font-size: $f-huge;
      font-weight: bold;
      line-height: 94%;
    }
  }
}
@media (max-width: 1650px) {
  .FrontPage {
    height: calc(120px + (400 - 120) * ((100vw - 320px) / (1650 - 320)));
    .FrontPage__square{
      top: calc(10% + (12 - 10) * ((100vw - 320px) / (1650 - 320)));
      left: calc(6% + (7 - 6) * ((100vw - 320px) / (1650 - 320)));
      width: calc(70px + (260 - 70) * ((100vw - 320px) / (1650 - 320)));
      height: calc(100px + (320 - 100
      ) * ((100vw - 320px) / (1650 - 320)));
      border: calc(1px + (4 - 1
      ) * ((100vw - 320px) / (1650 - 320))) solid $red;
    }
    .FrontPage__text{
      padding: calc(7% + (10 - 7) * (100vw - 320px) /
      (1650 - 320)) 0 0
      calc(10% + (10 - 10) * (100vw - 320px) / (1650 - 320));

      .FrontPage__text-header{
        margin-bottom: calc(6px + (10 - 6) * (100vw - 320px) / (1650 - 320));
        font-size: calc(7px + (16 - 7) * (100vw - 320px) / (1650 - 320));
      }
      .FrontPage__text-subheader{
        font-size: calc(20px + (48 - 20) * (100vw - 320px) / (1650 - 320));
      }
    }
  }
}
